<html>
<head>
    <link rel="stylesheet" href="/static/app.css"/>
    <script>
        var page_size={{session["page_size"]}};
        try{
            var sock = new WebSocket('ws://' + window.location.host + '/socket');
        }
        catch(err){

            var sock = new WebSocket('wss://' + window.location.host + '/socket');
        }
        sock.onmessage = function(event){

            if (event.data=='$UPDATED')
            {
                Notification.requestPermission(newMessage);
            }
            //Notification.requestPermission( newMessage );

        };
        function newMessage(permission) {
            if( permission != "granted" ) return false;
            var notify = new Notification("Old requests updated!");
        };

        function pageLoaded() {
            var element = document.getElementById('page_size_select');
            page_size={{session["page_size"]}};
            element.value = page_size;

        }
        function sendMessage(message) {
            sock.send(message);
        }
        function page_size_changed(selected) {
            page_size=selected.value;
            sendMessage('page_size$'+page_size);

        }
        function goHome() {
            window.location.replace('home?page_size='+page_size);
        }
        function go_with_params(path) {
            window.location.replace(path+'?page_size='+page_size);
        }





    </script>
</head>
<body onload="pageLoaded()">
<div>
    <a class="home_link" href="/home">Home</a>
</div>

<div class="block1">
    <div class="drequest">
        <button onclick="location.href='/request'">New request}</button>
    </div>
    <div class="page_size_select">
    Page size:
    <select id="page_size_select" onchange="page_size_changed(this)">
        <option value="25">25</option>
        <option value="50">50</option>
        <option value="100">100</option>
    </select>
</div>
</div>
<div class="content_outer">
    {% block content %} {% endblock %}
</div>
</body>
</html>
