{% extends "base.html" %}
{% block content %}
<div>
    {% if items %}
    <table class="history_questions_table" border="1">
        <tr>
            <th class="c1"><font size="6">Title</font></th>
            <th class="c1"><font size="6"><a
                    href="history?id={{session['id']}}&page=1&page_size={{session['page_size']}}&sort=last_activity_date&rev={{session['reversed']}}">Activity</a></font>
            </th>
            <th class="c1"><font size="6"><a
                    href="history?id={{session['id']}}&page=1&page_size={{session['page_size']}}&sort=score&rev={{session['reversed']}}">Votes</a></font>
            </th>
            <th class="c1"><font size="6"><a
                    href="history?id={{session['id']}}&page=1&page_size={{session['page_size']}}&sort=creation_date&rev={{session['reversed']}}">Created
                time</a></font></th>

        </tr>
        {% for item in items %}
        <tr>
            <td class="c1">{{item["title"]}}</td>
            <td class="c1">{{from_timestamp(item["last_activity_date"])}}</td>
            <td class="c1">{{item["score"]}}</td>
            <td class="c1">{{from_timestamp(item["creation_date"])}}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <h1>Empty &#9785</h1>
    {% endif %}
</div>
{% endblock content %}