{% extends "base.html" %}
{% block content %}
<div>
    {% if items %}
    <table class="history_table" border="1">

        <tr>
            <th class="c1"><font size="6">Text</font></th>
            <th class="c1"><font size="6">Time</font></th>


        </tr>
        {% for item in items %}
        <tr>
            <td class="c1"><a href = "history?id={{ item['id'] }}&text={{item['text']}}"> {{item['text']}}</a></td>
            <td class="c1">{{from_timestamp(item["time"])}}</td>

        </tr>
        {% endfor %}
    </table>
    {% else %}
    <h1>Hello &#9786</h1>
    {% endif %}
</div>
{% endblock content %}