{% extends "base.html" %}
{% block content %}
        <script>
            function myFunction() {
                var text=document.getElementById('search').value;
                if (text=='')
                    return;
                window.open('search?new=1&page=1&page_size='+page_size+'&title='+text, "_self");
            }
        </script>
        <div class="form-wrapper">
            <input id="search" required="" type="text" placeholder="Search for..." /> <input id="submit" type="submit" value="go" onclick="myFunction()"/>
        </div>
{% endblock content %}


