{% extends "base.html" %}
{% block content %}
<div>
    <script>
        var current_page{{session["current_page"]}};
        var text={{session["text"]}};
        function sortBy(s) {
            window.location.replace(search?new=1&page='+current_page+'&page_size='+page_size+'&title='+text+'&sort='+s);
        }


    </script>
    <table class="result_table" border="1">
        <tr>
            <th class="c1"><font size="6">Title</font></th>
            <th class="c1"><font size="6"><a
                    href="search?new=1&page=1&page_size={{session['page_size']}}&title={{session['text']}}&sort=activity">Activity</a></font>
            </th>
            <th class="c1"><font size="6"><a
                    href="search?new=1&page=1&page_size={{session['page_size']}}&title={{session['text']}}&sort=votes">Votes</a></font>
            </th>
            <th class="c1"><font size="6"><a
                    href="search?new=1&page=1&page_size={{session['page_size']}}&title={{session['text']}}&sort=creation">Created
                time</a></font></th>

        </tr>
        {% for item in items %}
        <tr>
            <td class="c1">{{item["title"]}}</td>
            <td class="c1">{{from_timestamp(item["last_activity_date"])}}</td>
            <td class="c1">{{item["score"]}}</td>
            <td class="c1">{{from_timestamp(item["creation_date"])}}</td>
        </tr>
        {% endfor %}
    </table>

</div>
<div class="navigation">
    {% if not session["block_back"] %}
    <button class="back_bn"
            onclick="window.location.replace('search?new=0&page={{session['current_page']-1}}&page_size={{session['page_size']}}&title={{session['text']}}&sort=votes')">
        Back
    </button>
    {% endif %}
    {% if not session["block_forward"] %}
    <button class="forward_bn"
            onclick="window.location.replace('search?new=0&page={{session['current_page']+1}}&page_size={{session['page_size']}}&title={{session['text']}}&sort=votes')">
        Forward
    </button>
    {% endif %}
</div>
{% endblock content %}


